[Desktop Entry]
Name=Pardus 100th Year Theme
Name[pt]=Tema 100º Ano Pardus
Name[tr]=Pardus 100. Yıl Teması
GenericName=100th Year Theme
GenericName[pt]=Tema do 100º Ano
GenericName[tr]=100. Yıl Teması
Comment=Special theme for the 100th anniversary of the Republic of Türkiye
Comment[pt]=Tema especial para o 100º aniversário da República da Turquia
Comment[tr]=Türkiye Cumhuriyeti'nin 100. yılına özel tema
Exec=pardus-yuzyil
Icon=pardus-yuzyil
Terminal=false
Type=Application
Categories=System;X-Pardus-Apps;
StartupNotify=true
Keywords=cumhuriyet;tasarım;ikon;görünüm;república;aspeto;ícone;aparência;
